body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.form-section input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-section button {
  grid-column: span 3;
  padding: 10px;
  background-color: #feddff;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-section button:hover {
  background-color: #97adc5;
}

.search-section {
  margin-bottom: 15px;
  text-align: right;
}

.search-section input {
  padding: 8px;
  width: 200px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #feddff;
  color: black;
}

.edit-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 8px;
  margin-right: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #1e7e34;
}

.delete-btn:hover {
  background-color: #c82333;
}

